$assetPath : "/boltemplate-react/build/images/";

#weatherWidget{
    
    position: absolute;
    z-index: 1;
    right: 29px;
    top: 170px;
    display: flex;
    overflow: hidden;
    color: #fff;
    height: auto;
    .surface{
        font-size: 24px;
        font-weight: 100;
        font-family: 'Oswald';
    }
    .separator{
        width: 50px;
        height: 1px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: #fff;
    }
    .weather-detail{
        background-color: rgba(22, 87, 103, 0.4);
        backdrop-filter: blur(5px);
        text-align: center;
        width: 239px;
        padding-top: 40px;
        position: relative;
       /* right: -300px;*/
        transition: right 0.2s;
        h4{
            font-size: 16px;
            font-family: 'Oswald';
            font-weight: 100;
        }
        img{
            margin-top: 30px;
            width: 82px;
        }
        
        .weather-desc{
            font-size: 14px;
            font-family: 'Open Sans';
            font-weight: 100;
            text-transform: uppercase;
            width: 60%;
            margin: auto;
            display: block;
        }
       

        .btn-widget{
            display: block;
            border: 1px solid #fff;
            padding: 10px 15px 10px 15px;
            width: 70%;
            margin: auto;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 100;
            font-family: 'Open Sans';
        }



    }

    .weather-summary{
        width: 60px;
        text-align: center;
        img{
             width: 40px;
             margin: auto;
             display: block;
        }
        h3{
            font-family: 'Oswald';
            font-size: 32px;
            font-weight: 100;
        }

        .separator{
            width: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .surface{
            font-size: 14px;
            text-transform: uppercase;
        }
        .plus-icon{
            background-image: url(#{$assetPath}/icons/plus-icon.svg);
            background-size: cover;
            width: 40px;
            height: 40px;
            display: block;
            margin: auto;
        }
    }

}