$assetPath : "/boltemplate-react/build/images/";

#desktopNav{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%) 0% 0% no-repeat padding-box padding-box transparent;
    padding: 10px;
    display: flex;
    .main-logo{
        width: 170px;
        display: inline-block;
        @media screen and (max-width: 980px){
            width: 80px;
        }
    }
    ul{
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            margin-right: 25px;
            cursor: pointer;
            font-family: 'Oswald';
            font-size: 16px;
            color: #fff;
            width: 64px;

        }
        .active-tab{
            border-bottom: 1px solid #fff;            
        }

        @media screen and (max-width: 980px){
           display: none;
        }
    }

    .main-menu{
        vertical-align: top;
    } 

    .search-top{ 
        width: 30px; 
        height: 30px;
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 30px;
        padding: 2px;
        background: url(#{$assetPath}/icons/icon_search.svg);
        background-size: cover;
        display: inline-block;
        vertical-align: top;
    }
    .shop-top{
        width: 30px; 
        height: 30px;
        margin-top: 20px;
        padding: 2px;
        background: url(#{$assetPath}/icons/icon_cart.svg);
        background-size: cover;
        display: inline-block;
        vertical-align: top;
        
    }
    .season-switch{
        margin-left: auto;
        margin-right: 30px;
        .season-switch-button:nth-child(1) {
            margin-right: 10px;
        }
    }

    #subNav{
        width: 400px;
        position: absolute;
        top: -40px;
        transition: all 0.5s;
        left: 0px;
        opacity: 0;
        padding: 10px;
        left: 220px;
        background-color: rgba(22, 87, 103, 0.2);
        backdrop-filter: blur(5px);
        visibility: hidden;
        ul{
            vertical-align: top;
        }
        span{
            font-family: 'Oswald';
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            cursor: default;
        }

        li {
            display: block;           
            a{
                text-decoration: none;
                color: #fff;
                font-family: 'Open Sans';
                font-size:  14px;
            }
            
        }

        .close-icon{
            width: 20px;
            height: 20px;
            background-image: url(#{$assetPath}icons/close-icon.svg);
            position: absolute;
            top: 15px;
            right: 10px;
            display: block;
            cursor: pointer;
            background-size: cover;
        }
        
       

        @media screen and (max-width: 980px){
            width: 100%;
        }
    }

    .active-menu{
        visibility: initial !important;
        background-color: blue;
        top: 80px !important;
        opacity: 1  !important;
    }



    #mobileMenu{
        display: none;
        @media screen and (max-width: 980px){
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url(#{$assetPath}icons/menu-icon.svg);
            background-size: cover;
            vertical-align: top;
        }
    }
    

    

}