#principalHero{
    color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 180px;
    @media screen and (max-width: 980px){
        width: 80%;
    }
    h1{
        font-family: 'Oswald';
        font-size: 92px;
        font-weight: 100;
        @media screen and (max-width: 980px){
            font-size: 80px;
        }
        
    }
    h3{
        font-family: 'Oswald';
        font-size: 24px;
        text-transform: uppercase;      
        font-weight: 100;  
        text-align: right;
        @media screen and (max-width: 980px){
            font-size: 20px;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
        background-color: #0C97B9;
        font-family: 'Open Sans';
        padding: 10px;
        display: block;
        max-width: 130px;
        @media screen and (max-width: 980px){
            
        }
       
    }

}