.main-component{
    padding-top: 190px;
}
.main-component.home.summer{
    background-image: url('../../images/heroes/herosummer.png');
}
.main-component.home.winter{
    background-image: url('../../images/heroes/hero-home.jpg');
}
.main-component.home{
    
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: 50%;

    .separator{
        width: 100%;
        display: block;
    }
}