.main-component{
    padding-top: 190px;
}

.main-component.home{
    background-image: url('../../images/heroes/hero-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50%;

    .separator{
        width: 100%;
        display: block;
    }
}