.news-container{
    display: block;
    h1{
        font-family: 'Oswald';
        font-size: 48px;
        color: #B90CA5;
        font-weight: 100;
        text-align: center;
        margin-bottom: 50px;
    }
    .news-block{
        display: inline-block;
        width: 49%;
        text-align: center;
        @media screen and (max-width: 980px){
            width: 100%;
            margin-top: 20px;
        }    
        img{
            width: 40%;
            display: inline-block;
            
        }
        .news-info{
            vertical-align: top;
            text-align: left;
            padding-left: 2%;
            width: 40%;
            display: inline-block;
            h2{
                font-family: 'Oswald';
                font-size: 30px;
                font-weight: 100; 
                color: #165767;               
            }
            h3{
                font-family: 'Oswald';
                font-size: 20px;
                font-weight: 100; 
                color: #0C97B9;  
                text-transform: uppercase;
            }
            .news-line{
                width: 80px;
                background-color: #0C97B9;
                height: 1px;
                display: block;
                margin-right: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p{
                font-family: 'Open Sans';
                font-size: 16px;                
            }
            a{
                font-family: 'Open Sans';
                font-style: initial;
                font-size: 14px;
                color: #0C97B9;
                display: block;
                margin-top: 20px;
                cursor: pointer;
            }
        }
    }
}